@font-face {
  font-family: 'Work Sans Bold';
  src: url('../../assets/fonts/WorkSans/WorkSans-Bold.eot');
  src: local('Work Sans Bold'), local('WorkSans-Bold'),
  url('../../assets/fonts/WorkSans/WorkSans-Bold.eot?#iefix') format('embedded-opentype'),
  url('../../assets/fonts/WorkSans/WorkSans-Bold.woff2') format('woff2'),
  url('../../assets/fonts/WorkSans/WorkSans-Bold.woff') format('woff'),
  url('../../assets/fonts/WorkSans/WorkSans-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Work Sans Medium';
  src: url('../../assets/fonts/WorkSans/WorkSans-Medium.eot');
  src: local('Work Sans Medium'), local('WorkSans-Medium'),
  url('../../assets/fonts/WorkSans/WorkSans-Medium.eot?#iefix') format('embedded-opentype'),
  url('../../assets/fonts/WorkSans/WorkSans-Medium.woff2') format('woff2'),
  url('../../assets/fonts/WorkSans/WorkSans-Medium.woff') format('woff'),
  url('../../assets/fonts/WorkSans/WorkSans-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Work Sans Regular';
  src: url('../../assets/fonts/WorkSans/WorkSans-Regular.eot');
  src: local('Work Sans Regular'), local('WorkSans-Regular'),
  url('../../assets/fonts/WorkSans/WorkSans-Regular.eot?#iefix') format('embedded-opentype'),
  url('../../assets/fonts/WorkSans/WorkSans-Regular.woff2') format('woff2'),
  url('../../assets/fonts/WorkSans/WorkSans-Regular.woff') format('woff'),
  url('../../assets/fonts/WorkSans/WorkSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Work Sans SemiBold';
  src: url('../../assets/fonts/WorkSans/WorkSans-SemiBold.eot');
  src: local('Work Sans SemiBold'), local('WorkSans-SemiBold'),
  url('../../assets/fonts/WorkSans/WorkSans-SemiBold.eot?#iefix') format('embedded-opentype'),
  url('../../assets/fonts/WorkSans/WorkSans-SemiBold.woff2') format('woff2'),
  url('../../assets/fonts/WorkSans/WorkSans-SemiBold.woff') format('woff'),
  url('../../assets/fonts/WorkSans/WorkSans-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

