$font-size-xxl: 82px;
$font-size-xl: 64px;
$font-size-l: 48px;
$font-size-m: 32px;
$font-size-s: 24px;
$font-size-xs: 20px;
$font-size-2xs: 16px;

$background-color: linear-gradient(93.99deg, #566270 0.51%, #283444 100%);
$main-gradient: linear-gradient(90deg, #2AF598 0%, #009EFD 100%);

$input-background: rgba(255, 255, 255, 0.2);

$main-text-color: #081323;
$secondary-text-color: #4F4F4F;
$light-text-color: #FFFFFF;
$description-text-color: #828282;
$color-background-products: #C1D0E4;

$breakpoint_lg: 1024px;
$breakpoint_md: 767px;
$breakpoint_sm: 576px;
$breakpoint_xs: 480px;